.markup-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-placeholder {
  width: 500px;
}

.text-holder {
  font-size: 2em;
  font-weight: 600;
  color: var(--space-blue);
}
