.error-page-container {
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-img-placeholder {
  width: 550px;
}

.error-text {
  font-family: monospace;
  font-size: 1.5em;
  color: var(--evening-blue);
}
